In [1]:
import openai
import requests
from flask import Flask, request, jsonify, render_template
from transformers import pipeline
from amadeus import Client, ResponseError
import pandas as pd

In [2]:
## This Cell is Used For Authentication and Token Retrieval ##

# API Authentication
auth_url = 'https://test.api.amadeus.com/v1/security/oauth2/token'
auth_data = {
    'grant_type': 'client_credentials',
    'client_id': 'RW5x5Bn2aMZYmgyHCyomxPetDteMmM2a',
    'client_secret': 'sKvaa9jS36eO7OCL'
}

# Get access token
auth_response = requests.post(auth_url, data=auth_data)
access_token = auth_response.json()['access_token']

# Use token in API request
headers = {
    'Authorization': f'Bearer {access_token}'
}

In [8]:
## This Cell Pulls the Requested Flight Data and Converts it Into a Pandas Data Frame ##

#Pull the Flight List API
flight_url = 'https://test.api.amadeus.com/v2/shopping/flight-offers'
params= {
    'originLocationCode': 'CLE',  # Cleveland
    'destinationLocationCode': 'NYC',  # New York
    'departureDate': '2025-05-01',
    'adults': 1,
    'nonStop': 'false',
    'currencyCode': 'USD',
    'max': 10  # Limit results
}

respone_flight = requests.get(flight_url, headers=headers, params=params)
flight_data = respone_flight.json()

# Return requested data and convert to a pandas data frame
flights_list = []
for offer in flight_data['data']:
        # Extract the most important data from each flight offer
        flight_info = {
            'offer_id': offer.get('id', 'ID not available'),
            'price': offer.get('price', {}).get('total', 'Price not available'),
            'currency': offer.get('price', {}).get('currency', 'Currency not available'),
            # Get the first itinerary segment information (typically the outbound flight)
            'departure_airport': offer.get('itineraries', [{}])[0].get('segments', [{}])[0].get('departure', {}).get('iataCode', 'Airport not available'),
            'arrival_airport': offer.get('itineraries', [{}])[0].get('segments', [{}])[-1].get('arrival', {}).get('iataCode', 'Airport not available'),
            'departure_date': offer.get('itineraries', [{}])[0].get('segments', [{}])[0].get('departure', {}).get('at', 'Date not available'),
            'airline': offer.get('itineraries', [{}])[0].get('segments', [{}])[0].get('carrierCode', 'Airline not available')
        }
        flights_list.append(flight_info)
flight_df = pd.DataFrame(flights_list)
print(flight_df)

  offer_id   price currency departure_airport arrival_airport  \
0        1  116.99      USD               CLE             LGA
1        2  116.99      USD               CLE             JFK
2        3  116.99      USD               CLE             JFK
3        4  124.47      USD               CLE             EWR
4        5  134.17      USD               CLE             EWR
5        6  198.50      USD               CLE             EWR
6        7  216.45      USD               CLE             EWR
7        8  217.56      USD               CLE             LGA
8        9  217.56      USD               CLE             LGA
9       10  217.56      USD               CLE             LGA

        departure_date airline
0  2025-05-01T10:15:00      B6
1  2025-05-01T10:15:00      B6
2  2025-05-01T10:15:00      B6
3  2025-05-01T07:00:00      UA
4  2025-05-01T06:00:00      UA
5  2025-05-01T08:40:00      UA
6  2025-05-01T19:20:00      UA
7  2025-05-01T21:05:00      B6
8  2025-05-01T10:15:00      B6
9  2025-05-01T21:05:00      B6

In [3]:
## This Cell Pulls Hotel List Information and Converts it Into a Pandas Data Frame ##

# Pulls the Hotel List API
hotels_url = 'https://test.api.amadeus.com/v1/reference-data/locations/hotels'
params = {
    'keyword': 'NYC',  # Search for hotels with NYC in their name, description, or address
    'subType': 'HOTEL_LEISURE',  # Filter by hotel type (HOTEL_LEISURE, HOTEL_GDS)
    'countryCode': 'US',  # Optional: filter by country code
    'lang': 'EN'  # Response language
}

response_hotel = requests.get(hotels_url, headers=headers, params=params)
hotel_data = response_hotel.json()

# Return requested data and convert to a pandas data frame
hotels_list = []
for hotel in hotel_data['data']:
    hotel_info = {
        'name': hotel.get('name', 'Name not available'),
        'hotel_id': hotel.get('id', 'ID not available'),  # Changed from 'hotelId' to 'id'
        'subtype': hotel.get('subType', 'Subtype not available'),  # Added subtype
        'iata_code': hotel.get('iataCode', 'IATA code not available'),  # Added IATA code
        'address': hotel.get('address', {}).get('cityName', 'City not available')  # Added city name
    }
    hotels_list.append(hotel_info)
    
hotels_df = pd.DataFrame(hotels_list)
print(hotels_df)

KeyError: 'data'

In [4]:
## This Cell Pulls Requested Hotel Information and Converts it Into a Pandas Data Frame ##

#Pulls the Hotels API
hotels_url = 'https://test.api.amadeus.com/v1/reference-data/locations/hotels/by-city'
params= {
    'cityCode': 'NYC',  # IATA code for New York
    'radius': 5,
    'radiusUnit': 'KM',
    'ratings': '3,4,5',  # Optional: filter by star ratings
    'hotelSource': 'ALL'  # ALL, BEDBANK, or DIRECTCHAIN
}

response_hotel = requests.get(hotels_url, headers=headers, params=params)
hotel_data = response_hotel.json()

# Return requested data and convert to a pandas data frame
hotels_list = []
for hotel in hotel_data['data']:
    hotel_info = {
        'name': hotel.get('name', 'Name not available'),
        'hotel_id': hotel.get('hotelId', 'ID not available'),
        'rating': hotel.get('rating', 'Rating not available'),
    }
    hotels_list.append(hotel_info)
hotels_df = pd.DataFrame(hotels_list)
print(hotels_df)

                              name  hotel_id  rating
0               DUANE STREET HOTEL  XTNYC130       4
1    HAMPTON INN MANHATTAN SEAPORT  HXNYC320       3
2         SMYTH - A THOMPSON HOTEL  TMNYC822       4
3     COSMOPOLITAN HOTEL - TRIBECA  LENYC7A3       4
4      HOLIDAY INN NYC WALL STREET  HINYC596       5
..                             ...       ...     ...
128                      ROW HOTEL  XTNYCMIL       4
129    THE MUSE NY A KIMPTON HOTEL  KCNYCMSE       5
130        W NEW YORK TIMES SQUARE  WHNYC234       5
131  BEST WESTERN PLUS HOSPITALITY  BWNYC114       3
132       WALDORF ASTORIA NEW YORK  WANYC506       4

[133 rows x 3 columns]

In [20]:
## This Cell Pulls Tours and Activities Information for New York City ##

# Pull the Tours and Activities API
tours_url = 'https://test.api.amadeus.com/v1/shopping/activities'
params = {
    'latitude': 40.712776,   # New York City latitude
    'longitude': -74.005974, # New York City longitude
    'radius': 20,            # 20km radius
    'currencyCode': 'USD'    # Return prices in USD
}
response_tours = requests.get(tours_url, headers=headers, params=params)
tours_data = response_tours.json()

# Return requested data and convert to a pandas data frame
activities_list = []
for activity in tours_data.get('data', []):
    # Get price and booking_link values
    price = activity.get('price', {}).get('amount')
    booking_link = activity.get('bookingLink')
    
    # Only add activities where both price and booking_link are available
    if price is not None and booking_link is not None and price != 'Price not available' and booking_link != 'Link not available':
        activity_info = {
            'name': activity.get('name', 'Name not available'),
            'price': price,
            'booking_link': booking_link
        }
        activities_list.append(activity_info)
            
activities_df = pd.DataFrame(activities_list)
print(activities_df)

                                                 name   price  \
0     Bourbon Basics Whiskey Tasting // West Village     60.0
1   A Tour of Italy: Cooking Class // Greenwich Vi...   162.0
2   Afternoon Plant-Based Lebanese Cooking Class &...    78.0
3   Bartender's Signature Cocktail Class // West V...   120.0
4        Pasta Workshop & Dinner // Greenwich Village   162.0
5   Pasta with Homemade Sauce Cooking Class & Mult...    90.0
6    Bread & Pastry Making Class // Greenwich Village   162.0
7   Plant-Based Lebanese Cooking Class // Greenwic...    78.0
8         A Man and his Sandwich Tour // East Village    72.0
9                 Viva Esapana - make your own tapas    160.8
10  Explore Manhattan from above in a spectacular ...   320.0
11                           Vol découverte de Mâcon      0.0
12                                 NY helicopter tour   330.0
13    KHAN-TOKE Modern Northern Thai Lunch // Midtown    48.0
14           Multi-Course Outdoor Balkan Feast // LIC    79.2
15  5-course Taste of Modern Northern Thai Cuisine...    96.0
16                 New York Bagel Tour // Bryant Park    70.8
17  Seasonal Japanese Inspired Seafood Tasting Men...  106.25
18  Chocolate Truffle Making Class in a Choc Facto...    96.0
19  Chocolate Easter Thin Bark Making // Williamsburg    85.2
20            Doughnut & History Tour // Williamsburg    66.0
21  Multi-course Italian Dinner Party in the East ...    78.0
22  1 pm Turkish Coffee + Fortune Telling Experien...   51.84
23                Brooklyn Pizza Walk in Williamsburg    42.0
24    East Village Ice Cream Crawl // Lower East Side    54.0
25      Chocolate Mousse Making Class // Williamsburg    84.0
26  Learn How To Make Authentic Fresh Pasta // Eas...    72.0
27  Chocolate Bonbon making in a chocolate factory...   240.0
28  Turkish Coffee & Fortune Telling // East Village    51.84
29   Handcrafted Chocolate Bar Making // Williamsburg   108.0
30                       New York Classic - Doors Off   810.0
31                      Doors off helicopter New York  285.75
32                                New York Helicopter   670.0
33                           New York helicopter tour   255.0
34  Una Cena Italiana: An Italian Feast // Park Slope    78.0
35                                   Winter Raclette     78.0
36  Handmade Italian  Pasta Cooking Class // Brooklyn   102.0
37  5-Course Mexican Feast with Wine & Mezcal Pair...   138.0
38      A Social Dinning Experiment Around The World!   108.0
39  Six Sensational Courses In A Modern Brooklyn S...   150.0
40                 Oyster Hour on Pier 44 in Red Hook    72.0
41  No Diet Club: Best Food in Downtown Brooklyn /...    80.4
42          Fly high for an extended view of the city   230.0
43        Multi-Course Mexican Tasting Menu // Harlem   108.0
44  Japanese/American-style Sushi Workshop // Uppe...   120.0
45  Chinese Dumplings Cooking Class // Upper East ...   120.0
46       Homemade Gnocchi Workshop // Upper East Side   120.0
47  Peruvian Ceviche Cooking Class // Upper East Side   125.0
48                  Discover Manhattan from the sky !   215.0
49                                 Name not available    78.0
50                                            Taquiza    72.0
51             Traditional Turkish Brunch // Bed-Stuy    78.0
52  Cooking Without a Recipe: Class & Tasting // B...   108.0
53  Mexican Tapas and Craft Cocktails Experience i...    90.0
54                 New York deluxe flight - Manhattan   375.0
55                               Vol La Ferté Gaucher     0.0
56         Helicopter tour in New York from Manhattan   295.0

                                         booking_link
0   https://vizeater.co/events/55792?utm_source=am...
1   https://vizeater.co/events/53679?utm_source=am...
2   https://vizeater.co/events/54772?utm_source=am...
3   https://vizeater.co/events/55834?utm_source=am...
4   https://vizeater.co/events/52927?utm_source=am...
5   https://vizeater.co/events/55155?utm_source=am...
6   https://vizeater.co/events/53684?utm_source=am...
7   https://vizeater.co/events/55279?utm_source=am...
8   https://vizeater.co/events/49072?utm_source=am...
9   https://vizeater.co/events/53681?utm_source=am...
10  https://www.helipass.com/en/touristic-helicopt...
11  https://www.helipass.com/en/touristic-helicopt...
12  https://www.helipass.com/en/touristic-helicopt...
13  https://vizeater.co/events/54398?utm_source=am...
14  https://vizeater.co/events/54802?utm_source=am...
15  https://vizeater.co/events/54333?utm_source=am...
16  https://vizeater.co/events/55598?utm_source=am...
17  https://vizeater.co/events/26315?utm_source=am...
18  https://vizeater.co/events/55407?utm_source=am...
19  https://vizeater.co/events/55533?utm_source=am...
20  https://vizeater.co/events/55801?utm_source=am...
21  https://vizeater.co/events/25232?utm_source=am...
22  https://vizeater.co/events/51948?utm_source=am...
23  https://vizeater.co/events/54900?utm_source=am...
24  https://vizeater.co/events/54973?utm_source=am...
25  https://vizeater.co/events/55534?utm_source=am...
26  https://vizeater.co/events/54534?utm_source=am...
27  https://vizeater.co/events/55545?utm_source=am...
28  https://vizeater.co/events/49863?utm_source=am...
29  https://vizeater.co/events/55532?utm_source=am...
30  https://www.helipass.com/en/touristic-helicopt...
31  https://preprod.helipass.com/en/touristic-heli...
32  https://www.helipass.com/en/touristic-helicopt...
33  https://www.helipass.com/en/touristic-helicopt...
34  https://vizeater.co/events/22304?utm_source=am...
35  https://vizeater.co/events/24028?utm_source=am...
36  https://vizeater.co/events/42928?utm_source=am...
37  https://vizeater.co/events/53590?utm_source=am...
38  https://vizeater.co/events/53536?utm_source=am...
39  https://vizeater.co/events/50899?utm_source=am...
40  https://vizeater.co/events/54710?utm_source=am...
41  https://vizeater.co/events/55814?utm_source=am...
42  https://www.helipass.com/en/touristic-helicopt...
43  https://vizeater.co/events/52678?utm_source=am...
44  https://vizeater.co/events/54516?utm_source=am...
45  https://vizeater.co/events/54590?utm_source=am...
46  https://vizeater.co/events/54822?utm_source=am...
47  https://vizeater.co/events/54487?utm_source=am...
48  https://www.helipass.com/en/touristic-helicopt...
49  https://vizeater.co/events/24469?utm_source=am...
50  https://vizeater.co/events/53591?utm_source=am...
51  https://vizeater.co/events/55068?utm_source=am...
52  https://vizeater.co/events/55528?utm_source=am...
53  https://vizeater.co/events/49692?utm_source=am...
54  https://www.helipass.com/en/touristic-helicopt...
55  https://www.helipass.com/en/touristic-helicopt...
56  https://www.helipass.com/en/touristic-helicopt...